.sticky-header {
  position: sticky;
  background: white;
  border-bottom: 1px solid #c0d2da;
  height: 60px;
  vertical-align: middle;
}

.sticky-header * {
  display: inline-block;
  font-size: 15px;
}

.sticky-header > .logo-image {
  float: right;
  width: 4%;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 10px;
}

.sticky-header > .logo-image > img {
  width: 100%;
}

.sticky-header > .nav-bar {
  width: 75%;
}

/* .sticky-header > .nav-bar > ul {
  width: 100%;
} */

.sticky-header > .nav-bar > ul > li {
  margin-left: 35px;
  margin-top: 25px;
  font-size: 80%;
}

.sticky-header > .nav-bar > ul li a {
  color: black;
  text-decoration: none;
}

.sticky-header > .nav-bar > ul li a:hover {
  color: #b30753;
  border-bottom: 1px solid #b30753;
}

.sticky-header > .reg-log {
  display: inline-block;
  margin-left: 35px;
  margin-top: 12px;
  width: 10%;
  float: left;
  background-color: #b30753;
  border: 1px solid #b30753;
  padding: 6px 2px;
  border-radius: 20px;
  text-decoration: none;
  text-align: center;
  color: white;
  transition: white 0.4s ease;
}

.sticky-header > .reg-log > a {
  border-color: black;
  color: inherit;
  text-decoration: none;
}

.sticky-header > .reg-log:hover {
  color: #b30753;
  background-color: white;
}
