/*------------------  Beginning  of Header's style --------------*/
.sticky-header {
  position: fixed;
  background: white;
  border-bottom: 1px solid #c0d2da;
  height: 60px;
  vertical-align: middle;
  width: 100%;
  z-index: +1;
}

.sticky-header * {
  display: inline-block;
  font-size: 15px;
}

.sticky-header > .logo-image {
  float: right;
  width: 4%;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 10px;
}

.sticky-header > .logo-image > img {
  width: 100%;
}

.sticky-header > .nav-bar {
  width: 75%;
}

/* .sticky-header > .nav-bar > ul {
  width: 100%;
} */

.sticky-header > .nav-bar > ul > li {
  margin-left: 35px;
  margin-top: 25px;
  font-size: 80%;
}

.sticky-header > .nav-bar > ul li a {
  color: black;
  text-decoration: none;
}

.sticky-header > .nav-bar > ul li a:hover {
  color: #b30753;
  border-bottom: 1px solid #b30753;
}

.sticky-header > .reg-log {
  display: inline-block;
  margin-left: 35px;
  margin-top: 12px;
  width: 10%;
  float: left;
  background-color: #b30753;
  border: 1px solid #b30753;
  padding: 6px 2px;
  border-radius: 20px;
  text-decoration: none;
  text-align: center;
  color: white;
  transition: white 0.4s ease;
}

.sticky-header > .reg-log > a {
  border-color: black;
  text-decoration: none;
}

.sticky-header > .reg-log:hover {
  color: #b30753;
  background-color: white;
}

/*------------------  end  of Header's style --------------*/

.container {
  background-image: url("./Pics/landingpage_background.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  text-align: center;
}

.search-wrapper {
  position: absolute;
  width: 50%;
  top: 45%;
  left: 25%;
}

.searchBar-title {
  font-size: 20pt;
}

.price-button {
  display: inline-block;
  width: 20%;
  color: white;
  background-color: rgba(80, 80, 80, 0.8);
  font-size: 0.9em;
  margin: 0 1%;
  padding: 10px 0;
  border-radius: 30px;
}

.price-buttons > a:first-child {
  background-color: #b30753;
}

.price-button:hover {
  background-color: rgba(54, 54, 54, 0.767);
  transition: all 600ms;
}

.search-bar {
  background-color: rgba(80, 80, 80, 0.8);
  border-radius: 50px;
  width: 70%;
  margin: auto;
  margin-top: 20px;
}

.search-bar * {
  display: inline-block;
}

.search-bar input {
  height: 45px;
  width: 40%;
  color: #b30753;
  border: none;
}

.search-bar:last-child input {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

/* ----------------- Footer -------------------- */

.footer {
  margin-top: 50px;
  background: #2b2b2b;
  text-align: center;
}

.footer a {
  text-decoration: none;
}

.contacts > a {
  top: -30px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  margin: 0 9px;
  background: #464545;
  width: 60px;
  position: relative;
  height: 60px;
  transition: all 0.5s ease;
}

.contacts > a > i {
  position: relative;
  top: 23%;
  font-size: 30px;
  color: rgba(249, 250, 252, 0.3);
}
